<!-- <div class="container">
  <h1 class="bg-success display-3 text-white text-center"> connexion Angular and Spring</h1>
  
</div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Product&Stock</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" [routerLink]="['']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['product']">Stock</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Transaction
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item " href="#">achat</a></li>
            <li><a class="dropdown-item text-success" href="#"> vente</a></li>
            <li><hr class="dropdown-divider text-success"></li>
            <li><a class="dropdown-item text-success" href="#">caisse</a></li>
            <li><a class="dropdown-item text-success" href="#">inventaire</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Partenariat
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-success " href="#">client</a></li>
            <li><a class="dropdown-item text-success" href="#"> fournisseur</a></li>
            
          </ul>
        </li>
        
      </ul>
      <div *ngIf="router.url !=='/product'" class="d-flex">
        <input 
          class="form-control me-2" 
          type="search" 
          placeholder="Search" 
          aria-label="Search" 
          [(ngModel)]="search" 
         >
      </div>
    </div>
  </div>
</nav>

<div *ngIf="router.url !=='/product'" class="row m-4">
  <div *ngIf="filteredProducts.length > 0; else elseBlock" class="row w-100">
    <!-- On applique les classes Bootstrap pour la grille responsive -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let produit of onSearch(search)">
      <div class="card" style="width: 100%;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ produit.name }}</h5>
          <p class="card-text">{{ produit.description }}</p>
          <p class="card-text"><strong>{{ produit.price }} GNF</strong></p>
          <a href="#" class="btn btn-primary">voir plus de details</a>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <p>Aucun produit</p>
  </ng-template>
</div>

<router-outlet></router-outlet>